<div>
    <h2>{{ tituloComp }}</h2>
   
    <!-- uso direto da diretiva @if/else-->
    <h3>uso direto da diretiva</h3>
  
    <!-- 
    <p *ngIf ="idade > 18; then OutrMiniView else MiniView">
       -- -este conteudo nunca aparecerá
    </p>
    <ng-template #MiniView>
        hgfkjfhglkjsdfgljkghkjlfhgkl
    </ng-template>

    <ng-template #OutraMiniView>
         o cara é de maior
    </ng-template>

    -->
    <!-- uso da diretiva @if/else if/else-->
    @if(idade > 18){
        <p>
            Este sujeito possui mais de 18 anos
        </p>
    }@else if(idade == 18){
        <p>
            Este sujeito possui exatamente 18 anos
        </p>
    }@else{
        <p>
            Esse sujeito possui menos que 18 anos
        </p>
    }
</div>