<div>
    <h2>{{ tituloComp }}</h2>
    <!--
        acima, criamos o "contexto de vinculação": significa que ao usar as chaves duplas  e descrevermos a propriedade entre as chaves, acabamos de vincular o valor da propriedade tituloComp à view e, dessa forma, podemos exibir o valor eno browser
    -->
    <br />

    <span>O valor da prop x é: {{ x }}</span>
    <br />

    <span>o array paises[] é composto por: {{ paises }}</span>
    <br />

    <span>A data de hoje é: {{ queDiaEhHoje }}</span>
    <br />

    <span>o valor da prop buleana é: {{ buleana }}</span>
    <br />

    <span>{{ buleana ? "Texto exibido quando o valor for TRUE" : "Texto exibido quando o valor for FALSE" }}</span>
    <br />

    <span>{{ exibirFrase() }}</span>

</div>