<!-- definir uma table-->
<table class="bordaTabela">
    <thead>
        <tr>
            <th>LowerCase</th>
            <th>Uppercase</th>
            <th>Currency</th>
            <th>Data</th>
            <th>Slice</th>
            <th>Porcetagem</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ umTextoQualquer | lowercase }}</td>
            <td>{{ tituloComp | uppercase }}</td>
            <td>
                {{ valorFloat | currency : "BRL" }}
                <br />
                {{ valorFloat | currency: "USD" : "code" : "" : "en-US" }}
                <!-- 
                    "USD": codigo internacional que define a moeda - dolar EUA
                    "code" : define como o texto aparece na tela - USD por exemplo
                    "" : string vazia - sem simbolo... de casas decimais. aqui, como as aspas estão vazias, o Angular adota o padrão da moeda para a casas decimais
                    "en-US": define a localidade/regionalização do contexto de exibição dos dados
                -->
            </td>
            <td>{{ umaData | date: "d/M/y" }}</td>
            <td>{{ calendario | slice: 2:6}}</td>
            <td>{{ umOutroValor | percent }}</td>
        </tr>
    </tbody>
</table>
