<div>
    <h2>{{ tituloComp }}</h2>

    <div>
        <span>Insira um valor: </span>
        <!-- colchetes [] determinam que ocorrerá uma property binding-->
        <!-- parenteses () determinam que ocorrerá um event binding-->
        <!-- para ao pleno funcionamento do two-way binding é necessário "juntar" os dois bindings, acima, usando um recurso do Angular - conhecido como diretiva ngModel. Este recurso possui um método interno chamado de ngChange - ajuda a observar se está ocorrendo alguma alteração na view onde a diretiva foi aplicada (vai ser observado se o input recebeu alguma ateração - a partir de seu estado inicial)-->

        <input type = "text" [(ngModel)] = "algumValor" />
    </div>
    <br /><br />

    <div>
        <span>O valor inserido por você é este abaixo:</span>
        <span>{{ algumValor }}</span>
    </div>
</div>
