<div>
    <h2>{{ tituloComp }}</h2> <!-- o uso das chaves duplas define o contexto de vinculação da interpolação de dados-->

    <span>
        <input [value] = "umTexto" />
        <!-- o uso dos colchetes define o contexto de vinculação do property binding. O property binding possui uma particularidade *** para qualquer vinculação via property é necessário que seja definida sua "natureza" - definir qual é o "tipo" de vinculação que está sendo feita -->
    </span><!-- o atributo value aplicado à uma tag html dá a possibilidade deste espaço demarcado exibir algum tipo de valor - que seja devidamente referenciado-->
</div>