<!--
Definição de template driven-form
    para que o formulario possa "controlar" aqui que esta prestes a acontecer será necessário fazer uso de alguns recursos já conhecidos. A diretiva ngModel- vai aparecer num contexto um pouquinho diferente do two way binding.
    A diretiva - surge pela 1ª vez - ngForm - ao ser usada - indica que todas as ações que ocorrerem, a partir do formulario, serão controladas por ele mesmo; então, a diretiva determina que o formulario pode controlar seu comportamento 
-->

<div>
    <h2>{{ tituloComp }}</h2>

    <form #capturaDados = "ngForm" (ngSubmit) = "dadosRecebidos(capturaDados.value)"  > <!-- aqui, a diretiva ngSubmit ele "trabalha" para que os dados que serão capturados pelo formulário possam ser submtidos para qualquer outro contexto da aplicação; 
        dadosRecebidos(): função/método que vai reecber os dados, aqui, capturados e manipula-los
        capturaDados.value: "Aqui temos mágica!" -> em função da variavel de indentificação do form - que detém todos os valores - podemos "extrair" do formulario um objeot json e enviar para a função- fazendo do recurso value 
        -->
        <input type = "text" name = "nome" placeholder = "Informe seu nome" ngModel />
        <!-- a diretiva ngModel possui o mesmo proposito já observado no two-way binding : ela - diretiva ngModel, a partir do recurso de observação de alteração de estado - fica  atento para a ocorrencia/disparo de algum evento quando e se o usuario interagir com a view do componente; ou seja, simplesmente nos auxila a capturar os dados que o usuario inserir no input 
        
        {
            nome: 'valor',
            email: 'valor',
            senha: 'valor'
        }
        
        -->
        <br />

        <input type = "email" name = "email" placeholder="Informe seu email" ngModel />
        <br />

        <input type = "password" name = "password" placeholder = "Informe sua senha" ngModel />
        <br />

        <input type="submit" value="Enviar" />
    </form>
</div>